<%= form_with model: @user, url: user_path(@user.id), data: {turbo: true} do |form| %>
    <div>
         <%= form.label :username %>
         <%= form.text_field :username, placeholder: "enter username", value: "yourUsername"  %>
    </div>

    <div>
        <%= form.label :email %>
        <%= form.email_field :email, placeholder: "example@gmail.com"%>
    </div>

    <div>
        <%= form.label :password%>
        <%= form.password_field :password%>
    </div>
    <%= form.submit %>
<% end %>