<%= form_with model: @user, url: user_path(@user.id), data: {turbo: true} do |form| %>

    <% if @user.errors.any? %>
        <h2><%= pluralize(@user.errors.count, "error") %> found:</h2>

        <ul>
            <% @user.errors.each do |error| %>
                <li><%= error.full_message %></li>
            <% end %>
        </ul>
    <% end %>
    
    <div>
         <%= form.label :username %>
         <%= form.text_field :username, placeholder: "enter username", value: "yourUsername"  %>
    </div>

    <div>
        <%= form.label :email %>
        <%= form.email_field :email, placeholder: "example@gmail.com"%>
    </div>

    <div>
        <%= form.label :password%>
        <%= form.password_field :password%>
    </div>
    <%= form.submit %>
<% end %>